<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-pdf-viewer-android" version="1.1.2" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-pdf-viewer-android</name>
    <js-module name="PDFViewer" src="www/pdfviewer.js">
        <clobbers target="PDFViewer"/>
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PDFViewer">
                <param name="android-package" value="com.ingensnetworks.plugin.PDFViewer"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
        </config-file>
        <source-file src="src/android/PDFViewer.java" target-dir="src/com/ingensnetworks/plugin"/>
        <source-file src="src/android/PDFViewerActivity.java" target-dir="src/com/ingensnetworks/plugin"/>
        <source-file src="src/android/activity_pdfviewer.xml" target-dir="res/layout"/>
        <framework src="com.android.support:support-v4:27+" />
        <framework src="com.github.barteksc:android-pdf-viewer:2.8.2" />
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.ingensnetworks.plugin.PDFViewerActivity" android:screenOrientation="portrait" />
        </config-file>
    </platform>
</plugin>